.navbar{
  position: fixed;
  top: 0;
  //background-color: cadetblue;
  color: white;
  padding: .3rem;
  .nav-button{
    margin-right: 1rem;
    font-size: 30px;
    float: right;
  }

  h5{
    margin-left: 1rem;
  }


}

.container{
  margin-top: 5rem;
}


